nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: black;
    height: 7vh;
    margin-bottom: 1.5rem;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav div:hover{
    background-color: azure;
}
nav div:hover a{
    color: black;
}
/* a:visited {
    background-color: azure;
    color: black;
} */
/* a:active {
    background-color: azure;
    color: black;
} */
.announcement{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 3rem;
    background-image: linear-gradient(to right bottom, #507a7a, #023838, #356464, #285959, #194e4e);
    color: white;
}
section>ul,p,h1{
    margin-bottom: 1rem;
}
table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

thead {
    background-color: rgb(25,78,78);
    color: white;
}

th, td {
    padding: 12px 8px;
    text-align: left;
    border: 1px solid black;
}

table td{
    font-weight: 100;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.apply{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px black solid; */
}
.apply>div{
    display: flex;
    margin-bottom: 8px;
}
.apply>div>label{
    width: 45%;
    font-size: large;
    font-weight: 500;

}
.apply >div>input,.apply>div>select,.apply>div>textarea{
    width: 50%;
    border: 2px black solid;
    padding: 7px;
}



